{#
 {% from "_formhelpers.html" import render_field %}
<form method=post action="/adddevice">
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.tags) }}
    {{ render_field(form.description) }}
  </dl>
  <p><input type=submit value=add>
</form>

#}
{% extends "board.html" %}
    {% block maincontent %}
{% from "_formhelpers.html" import render_field %}
<form method=post action="/adddevice" class="form-horizontal" role="form" >
    {{ render_field(form.name) }}
    {{ render_field(form.tags) }}
    {{ render_field(form.description) }}
  <p><input type=submit value=add>
</form>
{% endblock %}